body{
    font-family: poppins;
    margin: 0;
    padding:0;
}

.head-desc h1 {
    font-size: 50px;
    text-transform: capitalize;
}

.head-desc p {
    color: #696969;
    margin-bottom:20px;
}

.head-flex {
    display: flex;
}

section {
    margin: 0 6%;
}

.head-desc {
    margin-right: 10%;
}

.head-desc a {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    background: linear-gradient(
45deg
, lightSalmon, tomato);
    padding: 10px 30px;
    border-radius: 10px;
    color: white;
}