body{
    font-family: poppins;
    margin: 0;
    padding:0;
}
.top-bg{
    background-image:url("images/top-banner.png");
    background-size: cover;
    background-repeat:no-repeat;
}
h1 {
    font-size: 50px;
    text-transform: capitalize;
}
h2{
    font-size:35px;
}
h3{
    color:orange;
}
p {
    color: #696969;
    padding-bottom: 20px;
    width: 90%;
}
.head-flex {
    display: flex;
}
.head-img {
    text-align: left;
}
.head-img img ,.dream-img img {
    width: 100%;
}

.head-img, .head-desc, .dream-img, .dream-desc, .box {
    width: 47%;
    margin: 11px 3%;
}
    
a {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    background: linear-gradient(
45deg
, lightSalmon, tomato);
    padding: 10px 30px;
    border-radius: 10px;
    color: white;
}
.container {
    padding: 2% 6%;
}
.box{
    box-shadow: #00000094 0px 0px 19px;
    padding-left: 2%;
}
.g-border{
    border-left: 7px solid;
    border-image-source: linear-gradient(to bottom,#0000ff, #00E0FF);
    border-image-slice: 1;
}
.n-border{
    border-left:7px solid #FF9470;
}
.undertop-bg{
    background-image: url(images/dream-bg.png);
    background-repeat:no-repeat;
    background-position: right;
}
.afooter-bg{
    background-image: url(images/exp-bg.png);
    background-repeat:no-repeat;
    background-position: left;
}